{# Esto es un comentario #}
{% extends "plantillaBase.html" %}

{# definir contenidos que tendrán cada uno de los bloques #}
{% block tituloPestana %} 
    CRUD Categoria
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1>Registro de Categoria</h1>
    </div>
{% endblock %}
{% block contenido %} 
<br>
<form method="POST" action="{% url 'categoria' %}">
<div class="row">
    <div class="col-md-2 offset-md-2">Nombre</div>
    <div class="col-md-5">
        <input type="hidden"    name="txtId">
        <input type="text"      name="txtNombre" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-2 offset-md-2">Activo</div>
    <div class="col-md-5"><input type="checkbox" name="chkActivo" value="1"></div>
</div>
<div class="row">
    <div class="col-md-2 offset-md-2 mt-3">Opciones</div>
    <div class="col-md-5">
        <input type="submit" name="btnGrabar" class="btn btn-danger btnGrabar" value="Grabar">
        <input type="submit" name="btnListar" class="btn btn-danger btnListar" value="Listar">
        <input type="submit" name="btnLimpiar" class="btn btn-danger btnLimpiar" value="Limpiar">
    </div>
</div>
</form>
{% endblock %}
{% block listado %} 
{% endblock %}